@use "../../styles/variables";
@use "../../styles/mixins";


.navbar {
  background-color: white;
  margin-inline: auto;
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  height: variables.$navbar-height;

  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    //border-bottom: 1px solid $border-color;
    justify-content: center;
    padding: 0 1rem;
    .profile-container {
      .profile {
        color: variables.$background-color-primary;
      }
    }
    .content {
      @include mixins.container;
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      .burger {
        display: block;
        @media (min-width: variables.$breakpoint-lg) {
          display: none;
        }
        .burger-icon {
          width: 2.5rem;
          @media (min-width: variables.$breakpoint-lg) {
            display: none;
          }
        }
        .burger-container {
          display: flex;
          position: fixed;
          height: 0.5rem;
          width: 100vw;
          right: 0;
          top: 4.25rem;

          .burger-list {

            margin-left: auto;
            p {
              margin: 0;
              padding: 0;
            }
            .burger-list-item {

              align-items: center;
              display: flex;
              justify-content: center;
              background-color:  rgba(variables.$background-color-primary, 1); ;
              z-index: 199;
              width: 200px;
              height: 50px;
              text-align: center;

              transition: background-color 0.2s, color 0.2s;
              &:hover {
                background-color: variables.$background-color-primary;
                color: variables.$background-color-darker;
              }
            }
          }
        }
      }

      .list-container {
        display: none;

        @media (min-width: variables.$breakpoint-lg) {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          width: 100%;
          margin-inline: auto;
        }

        .list {
          display: flex;
          gap: 2.5rem;
          align-items: center;
          vertical-align: middle;

          .list-item {
            color: variables.$primary-color;
            cursor: pointer;
          }
        }


      }
    }
  }


}
